<a href="https://colab.research.google.com/github/rosemarythomas994/python_basic/blob/main/motor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


data = pd.read_csv(r'/content/drive/MyDrive/colab/Motor_Vehicle_Collisions_-_Crashes.csv',encoding='ISO-8859-1')
data

<ipython-input-3-16abc17bf8ec>:6: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(r'/content/drive/MyDrive/colab/Motor_Vehicle_Collisions_-_Crashes.csv',encoding='ISO-8859-1')

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2026642,07/03/2023,18:05,NaN,NaN,40.866806,-73.931010,"(40.866806, -73.93101)",RIVERSIDE DRIVE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4648110,Sedan,Sedan,NaN,NaN,NaN
2026643,07/22/2023,21:39,BRONX,10457.0,40.844177,-73.902920,"(40.844177, -73.90292)",EAST 174 STREET,WEBSTER AVENUE,NaN,...,NaN,NaN,NaN,NaN,4648117,Sedan,NaN,NaN,NaN,NaN
2026644,07/02/2023,17:55,MANHATTAN,10006.0,40.711033,-74.014540,"(40.711033, -74.01454)",WEST STREET,LIBERTY STREET,NaN,...,NaN,NaN,NaN,NaN,4648366,Taxi,NaN,NaN,NaN,NaN
2026645,07/22/2023,13:15,QUEENS,11433.0,40.691580,-73.793190,"(40.69158, -73.79319)",110 AVENUE,157 STREET,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4648129,Station Wagon/Sport Utility Vehicle,E-Bike,NaN,NaN,NaN
2026646,07/22/2023,3:00,QUEENS,11433.0,40.700240,-73.792854,"(40.70024, -73.792854)",SOUTH ROAD,164 STREET,NaN,...,NaN,NaN,NaN,NaN,4647913,Sedan,NaN,NaN,NaN,NaN

In [ ]:
pd.options.display.max_rows=3000

In [ ]:
data.columns

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'],
      dtype='object')

In [ ]:
data.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN

In [ ]:
data.head(10)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,BROOKLYN,11207.0,40.720968,-73.927316,-73.927316,EAST 174 STREET,WEBSTER AVENUE,1211 LORING AVENUE,...,Unspecified,Unspecified,Unspecified,Unspecified,4455765,Unspecified,Sedan,Sedan,Sedan,Sedan
1,03/26/2022,11:45,BROOKLYN,11207.0,40.720968,-73.927316,-73.927316,WHITESTONE EXPRESSWAY,20 AVENUE,1211 LORING AVENUE,...,Unspecified,Unspecified,Unspecified,Unspecified,4513547,Unspecified,Pick-up Truck,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle
2,06/29/2022,6:55,BROOKLYN,11207.0,40.720968,-73.927316,-73.927316,WHITESTONE EXPRESSWAY,20 AVENUE,1211 LORING AVENUE,...,Unspecified,Unspecified,Unspecified,Unspecified,4541903,Unspecified,Pick-up Truck,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,-73.927316,WHITESTONE EXPRESSWAY,20 AVENUE,1211 LORING AVENUE,...,Unspecified,Unspecified,Unspecified,Unspecified,4456314,Unspecified,Pick-up Truck,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,-73.927316,WHITESTONE EXPRESSWAY,20 AVENUE,1211 LORING AVENUE,...,Unspecified,Unspecified,Unspecified,Unspecified,4486609,Unspecified,Pick-up Truck,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle
5,04/14/2021,12:47,BROOKLYN,11207.0,40.720968,-73.927316,-73.927316,WHITESTONE EXPRESSWAY,20 AVENUE,1211 LORING AVENUE,...,Unspecified,Unspecified,Unspecified,Unspecified,4407458,Unspecified,Pick-up Truck,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle
6,12/14/2021,17:05,BROOKLYN,11207.0,40.709183,-73.956825,-73.927316,WHITESTONE EXPRESSWAY,20 AVENUE,1211 LORING AVENUE,...,Unspecified,Unspecified,Unspecified,Unspecified,4486555,Unspecified,Pick-up Truck,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle
7,12/14/2021,8:17,BRONX,10475.0,40.868160,-73.831480,-73.927316,WHITESTONE EXPRESSWAY,20 AVENUE,1211 LORING AVENUE,...,Unspecified,Unspecified,Unspecified,Unspecified,4486660,Unspecified,Pick-up Truck,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle
8,12/14/2021,21:10,BROOKLYN,11207.0,40.671720,-73.897100,-73.927316,WHITESTONE EXPRESSWAY,20 AVENUE,1211 LORING AVENUE,...,Unspecified,Unspecified,Unspecified,Unspecified,4487074,Unspecified,Pick-up Truck,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle
9,12/14/2021,14:58,MANHATTAN,10017.0,40.751440,-73.973970,-73.927316,WHITESTONE EXPRESSWAY,20 AVENUE,1211 LORING AVENUE,...,Unspecified,Unspecified,Unspecified,Unspecified,4486519,Unspecified,Pick-up Truck,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle

In [ ]:
data.tail()

In [ ]:
data['LOCATION'] = pd.to_numeric(data['LOCATION'], errors='coerce').astype('float64')
data['ZIP CODE'] = pd.to_numeric(data['ZIP CODE'], errors='coerce').astype('float64')
data['CONTRIBUTING FACTOR VEHICLE 1'] = pd.to_numeric(data['CONTRIBUTING FACTOR VEHICLE 1'], errors='coerce').astype('float64')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2026647 entries, 0 to 2026646
Data columns (total 29 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     object
 1   CRASH TIME                     object
 2   BOROUGH                        object
 3   ZIP CODE                       float64
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   LOCATION                       float64
 7   ON STREET NAME                 object
 8   CROSS STREET NAME              object
 9   OFF STREET NAME                object
 10  NUMBER OF PERSONS INJURED      float64
 11  NUMBER OF PERSONS KILLED       float64
 12  NUMBER OF PEDESTRIANS INJURED  int64
 13  NUMBER OF PEDESTRIANS KILLED   int64
 14  NUMBER OF CYCLIST INJURED      int64
 15  NUMBER OF CYCLIST KILLED       int64
 16  NUMBER OF MOTORIST INJURED     int64
 17  NUMBER OF MOTORIST KILLED      int64
 18  CONTRIBUTING FACTOR VEHICLE 1  object
 19  CONTRIBUTING FACTOR VEHICLE 2  object
 20  CONTRIBUTING FACTOR VEHICLE 3  object
 21  CONTRIBUTING FACTOR VEHICLE 4  object
 22  CONTRIBUTING FACTOR VEHICLE 5  object
 23  COLLISION_ID                   int64
 24  VEHICLE TYPE CODE 1            object
 25  VEHICLE TYPE CODE 2            object
 26  VEHICLE TYPE CODE 3            object
 27  VEHICLE TYPE CODE 4            object
 28  VEHICLE TYPE CODE 5            object
dtypes: float64(6), int64(7), object(16)
memory usage: 448.4+ MB

In [ ]:
data.describe()

In [ ]:
data.isnull().sum()

CRASH DATE                       0
CRASH TIME                       0
BOROUGH                          0
ZIP CODE                         0
LATITUDE                         0
LONGITUDE                        0
LOCATION                         0
ON STREET NAME                   0
CROSS STREET NAME                0
OFF STREET NAME                  0
NUMBER OF PERSONS INJURED        0
NUMBER OF PERSONS KILLED         0
NUMBER OF PEDESTRIANS INJURED    0
NUMBER OF PEDESTRIANS KILLED     0
NUMBER OF CYCLIST INJURED        0
NUMBER OF CYCLIST KILLED         0
NUMBER OF MOTORIST INJURED       0
NUMBER OF MOTORIST KILLED        0
CONTRIBUTING FACTOR VEHICLE 1    0
CONTRIBUTING FACTOR VEHICLE 2    0
CONTRIBUTING FACTOR VEHICLE 3    0
CONTRIBUTING FACTOR VEHICLE 4    0
CONTRIBUTING FACTOR VEHICLE 5    0
COLLISION_ID                     0
VEHICLE TYPE CODE 1              0
VEHICLE TYPE CODE 2              0
VEHICLE TYPE CODE 3              0
VEHICLE TYPE CODE 4              0
VEHICLE TYPE CODE 5              0
dtype: int64

In [ ]:
data['BOROUGH']=data['BOROUGH'].fillna('BROOKLYN')

In [ ]:
data['ZIP CODE']=data['ZIP CODE'].fillna(data['ZIP CODE'].median())
data['LATITUDE']=data['LATITUDE'].fillna(data['LATITUDE'].median())
data['LONGITUDE']=data['LONGITUDE'].fillna(data['LONGITUDE'].median())
data['LOCATION']=data['LOCATION'].fillna(data['LONGITUDE'].median())
data['ON STREET NAME']=data['ON STREET NAME'].fillna('WHITESTONE EXPRESSWAY')
data['CROSS STREET NAME']=data['CROSS STREET NAME'].fillna('20 AVENUE')
data['OFF STREET NAME']=data['OFF STREET NAME'].fillna('1211      LORING AVENUE')

data['NUMBER OF PERSONS INJURED']=data['NUMBER OF PERSONS INJURED'].fillna(data['NUMBER OF PERSONS INJURED'].median())

data['NUMBER OF PERSONS KILLED']=data['NUMBER OF PERSONS KILLED'].fillna(data['NUMBER OF PERSONS KILLED'].median())
data['CONTRIBUTING FACTOR VEHICLE 1']=data['CONTRIBUTING FACTOR VEHICLE 1'].fillna('Unspecified')
data['CONTRIBUTING FACTOR VEHICLE 2']=data['CONTRIBUTING FACTOR VEHICLE 2'].fillna('Unspecified')
data['CONTRIBUTING FACTOR VEHICLE 3']=data['CONTRIBUTING FACTOR VEHICLE 3'].fillna('Unspecified')
data['CONTRIBUTING FACTOR VEHICLE 4']=data['CONTRIBUTING FACTOR VEHICLE 4'].fillna('Unspecified')
data['CONTRIBUTING FACTOR VEHICLE 5']=data['CONTRIBUTING FACTOR VEHICLE 5'].fillna('Unspecified')

data['VEHICLE TYPE CODE 1']=data['CONTRIBUTING FACTOR VEHICLE 1'].fillna('Sedan')
data['VEHICLE TYPE CODE 2']=data['VEHICLE TYPE CODE 2'].fillna('Pick-up Truck')
data['VEHICLE TYPE CODE 3']=data['VEHICLE TYPE CODE 3'].fillna('Station Wagon/Sport Utility Vehicle')
data['VEHICLE TYPE CODE 4']=data['VEHICLE TYPE CODE 4'].fillna('Sedan')
data['VEHICLE TYPE CODE 5']=data['VEHICLE TYPE CODE 5'].fillna('Station Wagon/Sport Utility Vehicle')

In [ ]:
data.duplicated()

0          False
1          False
2          False
3          False
4          False
           ...
2026642    False
2026643    False
2026644    False
2026645    False
2026646    False
Length: 2026647, dtype: bool

In [ ]:
# Import necessary libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Create a new DataFrame with relevant columns for each platform
platform_data = mu[['in_spotify_charts', 'in_apple_charts', 'in_deezer_charts','in_shazam_charts']]

# Calculate the mean values for each platform metric
mean_values = platform_data.mean()

# Plot the mean values for each platform using a bar plot
plt.figure(figsize=(12, 6))
sns.barplot(x=mean_values.index, y=mean_values.values)
plt.title('Song Popularity Across Music Platforms')
plt.xlabel('Platform')
plt.ylabel('Mean Value')
plt.xticks(rotation=45)  # Rotate the x-axis labels for better readability
plt.show()