<a href="https://colab.research.google.com/github/rosemarythomas994/python_basic/blob/main/variables_constants.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Variables and Constants

In this class, you will learn about Python variables, constants, literals and their use cases.

# 1. Python Variables

A variable is a named location used to **store data in the memory**. Variable also known as **identifier** and used to hold value. It is helpful to think of variables as a container that holds data that can be changed later in the program. **Mnemonic** variables are recommended to use in many programming languages. A mnemonic variable is a variable name that can be easily remembered and associated. A variable refers to a memory address in which data is stored. For example,

```python
>>>number = 90
```

Here, we have created a variable named **`number`**. We have assigned the value **`10`** to the variable.

You can think of variables as a bag to store books in it and that book can be replaced at any time.

```python
>>>number = 90
>>>number = 9.1
```

Initially, the value of number was **`90`**. Later, it was changed to **`9.1`**.

> **Note**: In Python, we don't actually assign values to the variables. Instead, Python gives the reference of the object(value) to the variable.

In Python, we don't need to specify the type of variable because Python is a **type infer language** and smart enough to get variable type.

Python Variable Name Rules

- A variable name must start with a **letter** **`A`**-**`z`** or the **underscore** **`_`** character
- A variable name cannot start with a **number** **`0`**-**`9`**
- A variable name can only contain alpha-numeric characters and underscores (**`A`**-**`z`**, **`0`**-**`9`**, and **`_`** )
- Variable names are case-sensitive (**`firstname`**, **`Firstname`**, **`FirstName`** and **`FIRSTNAME`**) are different variables). It is recomended to use lowercase letters for variable name.

#### Let us see valid variable names

```python
firstname
lastname
age
country
city
first_name
last_name
capital_city
_if          # if we want to use reserved word as a variable
year_2021
year2021
current_year_2021
birth_year
num1
num2
```

Invalid variables names:

```python
first-name
first@name
first$name
num-1
1num
```

We will use standard Python variable naming style which has been adopted by many Python developers. Python developers use snake case(snake_case) variable naming convention. We use underscore character after each word for a variable containing more than one word (eg. **`first_name`**, **`last_name`**, **`engine_rotation_speed`**).  The example below is an example of standard naming of variables, underscore is required when the variable name is more than one word.

When we assign a certain data type to a variable, it is called variable declaration. For instance in the example below my first name is assigned to a variable **`first_name`**. The equal sign is an assignment operator. Assigning means storing data in the variable. The equal sign in Python is not equality as in Mathematics.

### Assigning values to Variables in Python

Think of a variable as a name attached to a particular object. In Python, variables need not be declared or defined in advance, as is the case in many other programming languages.

As you can see from the above example, you can use the assignment operator **`=`** to assign a value to a variable.

#### Example 1: Declaring and assigning value to a variable

In [ ]:
number = 90
number = 9.1
number

9.1

In [ ]:
website = "google.com"
print(website)

google.com

In [ ]:
print('Hello',',', 'World','!') # it can take multiple arguments, 4 arguments have been passed

Hello , World !

In [ ]:
first_name = 'Milaan'
last_name = 'Parmar'
country = 'Finland'
city = 'Tampere'
age = 96
is_married = True
skills = ['Python', 'Matlab', 'JS', 'C', 'C++']
person_info = {
   'firstname':'Milaan',
   'lastname':'Parmar',
   'country':'Finland',
   'city':'Tampere'
    }

Let us print and also find the length of the variables declared at the top:

In [ ]:
# Printing the values stored in the variables

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

First name: Milaan
First name length: 6
Last name:  Parmar
Last name length:  6
Country:  Finland
City:  Tampere
Age:  96
Married:  True
Skills:  ['Python', 'Matlab', 'JS', 'C', 'C++']
Person information:  {'firstname': 'Milaan', 'lastname': 'Parmar', 'country': 'Finland', 'city': 'Tampere'}

#### Example 2: Declaring multiple variables in one line** using comma  **`,`**  and semicolon **`;`**

In [ ]:
a, b, c = 6, 9.3, "Hello"

print (a)
print (b)
print (c)

6
9.3
Hello

In [ ]:
a = 1; b = 2; c = 3
print(a,b,c)  # outout: 1 2 3
a,b,c         # outout: 1 2 3

1 2 3

(1, 2, 3)

In [ ]:
first_name, last_name, country, age, is_married = 'Milaan', 'Parmar', 'Finland', 96, True

print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age) # Don't worry it is not my real age ^_^
print('Married: ', is_married)

Milaan Parmar Finland 96 True
First name: Milaan
Last name:  Parmar
Country:  Finland
Age:  96
Married:  True

If we want to assign the same value to **multiple**/**chained** variables at once, we can do this as:

In [ ]:
x = y = z = "same"

print (x)
print (y)
print (z)

same
same
same

The second program assigns the **`same`** string to all the three variables **`x`**, **`y`** and **`z`**.

In [ ]:
p = q = r = 300   # Assigning value together
print(p, q, r)    # Printing value together

300 300 300

#### Example 3: Changing the value of a variable

In [ ]:
website = "google.com"
print(website)

# assigning a new variable to website
website = "bwiki.com"

print(website)

google.com
bwiki.com

In [ ]:
n=300
print(n)

300

In [ ]:
m=n
print(n)

m = 1000   # assigning a new value to n
print(m)

300
1000

In [ ]:
# Declare & Redeclare variables
m = "Python is Fun"
m = 10
print (m)

10

# 2. Constants

A constant is a type of variable whose value cannot be changed. It is helpful to think of constants as containers that hold information which cannot be changed later.

You can think of constants as a bag to store some books which cannot be replaced once placed inside the bag.

### Assigning value to constant in Python

In Python, constants are usually declared and assigned in a module. Here, the module is a new file containing variables, functions, etc which is imported to the main file. Inside the module, constants are written in all capital letters and underscores separating the words.

## Rules and Naming Convention for Variables and constants

The examples you have seen so far have used **short**, terse variable names like m and n. But variable names can be more **verbose**. In fact, it is usually beneficial if they are because it makes the purpose of the variable more evident at first glance.

1. Constant and variable names should have a combination of letters in lowercase (a to z) or uppercase (**A to Z**) or digits (**0 to 9**) or an underscore **`_`**. For example:



2. Create a name that makes sense. For example, **`vowel`** makes more sense than **`v`**.

3. If you want to create a variable name having two words, use underscore to separate them. For example:



4. Use capital letters possible to declare a constant. For example:


```

5. Never use special symbols like **!**, **@**, **#**, **$** <b> % </b>, etc.

6. Don't start a variable name with a digit.

For example, all of the following are valid variable names:

In [ ]:
name = "Bob"
Age = 54
has_W2 = True
print(name, Age, has_W2)

Bob 54 True

In [ ]:
1099_filed = False    # cannot start name of a variable with a number.

SyntaxError: invalid decimal literal (<ipython-input-16-8cc0f1bdc5ed>, line 1)

In [ ]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
AGe = 8
print(age, Age, aGe, AGE, a_g_e, age, age, AGe)

1 2 3 4 5 1 1 8